.section {
    width: 960px;
    height: 540px;
    position: absolute;
}
/*.div-relative{position:relative; color:#000; border:1px solid #000; width:500px; height:400px} */

* {
    cursor: url(../res/cursor/normal.cur), auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: url(../res/cursor/text.cur), auto;
}

button,
a {
    cursor: url(../res/cursor/link.cur), auto;
}

label {
    text-align: center;
    margin-bottom: 2px;
    margin-top: 3px;
}

#div-btn,
#div-bg,
#div-half,
#div-text {
    position: relative;
    top: 0px;
    height: 0px;
    border: none;
    /*text-align: center;*/
}
#div-btn{
    text-align: center;
}

#tab-buy label {
    margin-bottom: 0px;
}

#chat_text {
    background-image: url(../res/UI/messageBack.png);
    position: relative;
    top: 350px;
    width: 960px;
    height: 180px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

#name_all {
    position: absolute;
    top: 315px;
    left: 0px;
    width: 398px;
    height: 53px;
    /*    padding-top:7px;
    padding-left:70px;
    padding-right:70px;*/
}
#name_content{
    font-size: 23px;
    margin-top:18px;
    text-align:center;
    width:250px;
}
#chat_content {
/*    position: absolute;*/
/*    top: 315px;*/
/*    left: 100px;*/
    text-align: left;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-indent:2em;
    /*    padding-top:7px;
    padding-left:70px;
    padding-right:70px;*/
}
/* DIV背景颜色为蓝色 */

.section {
    position: absolute;
    width: 960px;
    height: 540px;
}

#prop {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 960px;
    opacity: 1;
    background-color: rgba(170, 170, 170, 0);
    border-width: 0px;
    border-radius: 0px;
    border-color: rgba(51, 122, 183, 0.85);
    padding: 0px;
    margin: 0px;
}

.prop-set {
    opacity: 2;
    margin: 0px;
    margin-top: 5px;
    margin-left: 20px;
    padding: 0px;
    vertical-align: baseline;
    display: inline-block;
    float: left;
}

#buy-tabs-content {
    /*    height: 350px;*/
}

#buy-tabs-content .tab-pane {
    /*    height: 250px;*/
}

#buy-tabs-content .tab-pane .tab-content {
    /*    height: 260px;*/
}

#store-tabs-content .tab-store-items {
    font-size: 130%;
}

#store-tabs-content .panel-head {
    border-style: solid solid none solid;
}

#store-tabs-content .panel-table {
    border-style: none solid none solid;
    font-size: 70%;
    padding-bottom: 0px;
    padding-top: 0px;
}

#store-tabs-content .panel-foot {
    border-style: none solid solid solid;
}

.store-panel-content {
    padding: 10px;
    text-align: center;
}

#store-tabs-content .my-panel-heading {
    /*padding: 2px;*/
    
    font-size: 100%;
}

#store-tabs-content .item-panel {
    border-color: #fff;
    border-style: none solid solid solid;
    border-radius: 0px;
    border-width: 0px;
    border-top-width: 0px;
    font-size: 90%;
    width: 100%;
    margin: 10px;
    margin-top: 0px;
    padding: 0px;
    vertical-align: baseline;
    font-color: rgba(255, 0, 0, 1);
}

#carousel-teammate-generic {
    width: 250px;
    position: relative;
    left: -150px;
}

#carousel-teammate-generic .carousel-inner img {
    height: 400px;
}
/*
#store-tabs-content .item-set {
    border-color: #fff;
    border-style: solid solid none solid;
    border-width: 5px;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    padding: 0px;
    vertical-align: baseline;
    background-color: rgba(51, 122, 183, 1);
    color: rgba(255, 255, 254, 1);
}

#store-tabs-content .item-head {
    padding-bottom: 10px;
    padding-top: 10px;
}

#store-tabs-content .item-name {
    text-align: center;
    font-family: verdana;
    color: rgba(255, 255, 255, 1);
    padding: 5px;
    margin: 0px;
    margin-right: 0px;
    -webkit-margin-after: 0px;
    z-index: 1;
}

#store-tabs-content .item-num {
    text-align: center;
    font-family: verdana;
    color: rgba(255, 255, 255, 1);
    padding: 5px;
    margin: 0px;
    margin-right: 0px;
    -webkit-margin-after: 0px;
    z-index: 1;
}

#store-tabs-content .item-price {
    text-align: center;
    font-family: verdana;
    color: rgba(255, 255, 255, 1);
    padding: 5px;
    margin: 0px;
    margin-right: 0px;
    -webkit-margin-after: 0px;
    z-index: 1;
}

/*#store-tabs-content .item-panel {
    text-align: center;
    font-family: verdana;
    color: rgba(255, 255, 255, 1);
    padding: 5px;
    margin: 0px;
    margin-right: 0px;
    -webkit-margin-after: 0px;
    z-index: 1;
}*/

.prop-name {
    vertical-align: middle;
    position: relative;
    width: 80px;
    display: inline-block;
    border-color: #000000;
    border-style: solid none solid solid;
    border-width: 0px;
    border-radius: 6px;
    border-right-width: 0px;
    text-align: center;
    font-family: verdana;
    color: rgb(255, 255, 230);
    margin: 0px;
    margin-right: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 30px;
    z-index: 1;
    padding-top: 3px;
    font-weight: bold;
}

.prop-value {
    vertical-align: -3%;
    position: relative;
/*    left: -97px;*/
    /*    width: 100px;*/
    
    display: inline-block;
    text-align: center;
    font-family: verdana;
    color: white;
    margin: 0px;
    margin-right: 15px;
    margin-left: -5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    z-index: 0;
    height: 30px;
}

.prop-text {
    margin: 0px;
    vertical-align: baseline;
    background-color: rgba(230, 230, 230, 1);
}

.section-btn {
    margin: 9px;
    width: 240px;
    height: 144px;
    border-width: 2px;
    margin-top: 0px;
    
}
.section-btn div.des{
    font-size: 25px;
}
.section-btn div.glyphicon{
    font-size:50px;
}

#section_home {
    margin: 0px;
    display: none;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-image: url(../res/Background/zhuomian.jpg);
    /*    text-align: center;*/
}

.desk-frame {
    /*    position: absolute;*/
    
    background-color: rgba(230, 230, 230, 0.7);
    padding: 15px;
    border-color: rgba(51, 122, 183, 0.85);
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    font-size: 120%;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.desk-frame-nav {
    padding: 0px;
    font-size: 120%;
}

.desk-frame-nav-content {
    padding: 0px;
}

li.desk-frame-nav a {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
}

.panel-default {
    /*border-radius: 10px;*/
}

.panel-heading {
    /*border-radius: 0px;*/
    
    padding: 2px;
}

.logo-title {
    /*    display: inline-block;*/
    
    color: #FFFFFF;
    position: relative;
    top: 80px;
    font-family: "proxima-nova", Helvetica, Verdana, Arial, "Lucida Grande", sans-serif;
    font-size: 70px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 6px 8px 0px rgba(0, 0, 0, 0.25);
}

.prop-tab-name-left {
    border-style: none solid none none;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 0px;
    font-size: 130%;
    border-radius: 0px;
}

.prop-tab-name-right {
    border-style: none none none none;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    font-size: 130%;
    border-bottom-left-radius: 0px;
}

.prop-tab-name {
    width: 25%;
}

.prop-tab-value {
    text-align: right;
    width: 25%;
}

.panel-default {
    margin: 20px;
    margin-top: 0px;
}

.tab-content {
    overflow: auto;
    /*    height: 100%;*/
    
    margin: 0px;
}

.my-tab-content {
    overflow: auto;
    /*    height: 350px;*/
    
    margin: 0px;
    margin-top: 10px;
}

.my-tab-store-content {
    overflow: auto;
    /*    height: 310px;*/
    
    margin: 0px;
    margin-top: 10px;
}

.panel-des {
    text-indent: 35px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

#tab-teammate .panel-default {
    width: 58%;
    margin: 0px;
    margin-top: 30px;
    padding-top: 7px;
    border-radius: 0px;
    float: right;
}

#make-panel-group .panel {
    background-color: #fff;
    border-radius: 0px;
    width: 100%;
    margin: 0px;
}

.store-panel-content {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

#tab-make .panel-group {
    float: right;
    width: 40%;
}

#tab-make .store-panel-content span label {
    font-size: 15px;
    font-weight: 400;
}

.my-panel-heading.selected {
    background-color: steelblue;
    color: #fff;
}

.item-num {
    color: green;
}

.insufficient {
    color: red;
}

.sufficient {
    color: green;
}

#tab-make-progress {
    width: 90%;
    background-color: #eee;
    margin: 0px;
    bottom: 0px;
    display: inline-block;
}

#tab-make-output {
    height: 230px;
    margin: 0px;
    margin-bottom: 10px;
    width: 90%;
    padding: 5px;
    overflow: auto;
    display: inline-block;
}

#tab-make-output p {
    margin-bottom: 3px;
    float: left;
    text-align: left;
    display: block;
    width: 100%;
}

button.menu_btn,
input.menu_btn,
#div-btn .input-group {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
     width: 300px;
}

#div-danmu {
    position: relative;
    top: 40px;
    z-index=1020;
    /*    position:absolute;*/
    /*    top:40px;*/
}

#div-danmu>div {
    /*  position: absolute;*/
    
    background-color: rgb(51, 122, 183);
    height: 30px;
    /*  width:960px;*/
    
    text-align: center;
    /*    z-index=1020;*/
    
    margin: 0px;
}

#div-danmu>div>label {
    position: absolute;
    color: #fff;
    height: 30px;
    background-color: rgb(51, 122, 183);
    /*    z-index=1020;*/
    
    width: 960px;
    left: 0px;
    margin: 0px;
    border-width: 0px;
}

#div-danmu>div>label>label {
    position: absolute;
    color: #fff;
    font-size: 20px;
    /*    z-index=1020;*/
    
    width: 960px;
    margin: 0px;
    border-width: 0px;
}

.plan-right-label {
    background-color: steelblue;
    color: aliceblue;
    width: 100%;
    border-radius: 10px;
    padding: 2px;
    margin: 0px;
}

.plan-right-value {
    font-size: 16px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.plan-right-value.transparent {
    color: rgba(255, 255, 255, 0)
}

.today-class.selected {
    width: 100%;
    color: rgba(10, 10, 10, 1);
    margin-bottom: -5px;
    margin-top: 0px;
}

.today-class .left {
    width: 35%;
    float: left;
    text-align: left;
    margin: 0px;
}

.today-class .right {
    width: 65%;
    float: right;
    text-align: right;
    ;
    margin: 0px;
}

.today-class {
    width: 100%;
    color: rgba(10, 10, 10, 1);
    margin-bottom: -5px;
    margin-top: 2px;
}
.today-class.error{
    color: #c9302c;
}
.today-class.success{
    color: #5cb85c;
}
.make-state {
    text-align: center;
    margin: 0px;
    margin-right: 0px;
}

.make-state .left {
    width: 35%;
    float: left;
    text-align: left;
    margin: 0px;
}

.make-state .right {
    width: 65%;
    float: right;
    text-align: right;
    ;
    margin: 0px;
}

#home-main-tab span.success {
    background-color: #5cb85c;
}

#home-main-tab span.warning {
    background-color: rgb(240, 173, 78);
}

#home-main-tab span.error {
    background-color: rgb(241, 35, 26);
}

#home-head {
    width: 960px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-bottom: 5px solid steelblue;
}

#system-setting {
    position: absolute;
    border-radius: 0px;
    right: 0px;
    top: 0px;
}

#system-setting button {
    border-radius: 0px;
    font-size: 18px;
}

#home-main-tab {
    position: absolute;
    width: 100px;
    top: 100px;
    left: 0px;
    vertical-align: middle;
    margin-left: 0px;
    float: left;
    display: table-cell;
}

#home-main-tab>button {
    text-align: center;
    background-color: steelblue;
    margin: 5px;
    border-radius: 8px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    /*    */
    
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.2s;
}

#home-main-tab>button:hover {
    transform: translateX(5px);
}

#home-tabs {
    position: absolute;
    margin: 0px;
    width: 800px;
    height: 480px;
    right: 10px;
    bottom: 10px;
}

#home-main-tab>button.active {
    background-color: coral;
}

input,
button,
a {
    outline: 0 none !important;
}

.plan-right-block {
    text-align: center;
}

.make-state-line {
    display: block;
}

#tab-teammate .carousel {
    width: 40%;
    /*    height: 100%;*/
    
    vertical-align: middle;
}

#tab-teammate .carousel-inner .item {
    text-align: center;
}

#tab-teammate .carousel-inner .item img {
    text-align: center;
}

.tab-pane {
    height: 100%;
}

.prop-value[key="日期"] {
    width: 120px;
}

#skill_point {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 150px;
    display: inline-block;
    font-size: 30px;
}

#section_save_load #go-back {
    position: absolute;
    left: 50px;
    top: 511px;
    background: rgba(0, 0, 0, 0);
    border-width: 0px;
    color: #ffffff;
    width: 150px;
    height: 40px;
    font-family: verdana;
    font-size: 170%;
    padding: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    margin: 0px;
}

#section_save_load .button-save {
    width: 400px;
    font-size: 120%;
}

#section_save_load #title {
    color: #fff;
    position: absolute;
    right: 65px;
    top: 20px;
}
.today-class.ng-move,
.today-class.ng-enter,
.today-class label {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.today-class.ng-enter,.today-class.ng-move  {
    background-color: white;

}
.today-class.ng-enter.ng-enter-active,.today-class.ng-move-active {
    background-color: rgba(255,255,255,0);
}
table.class-design{
    font-size: 18px;
}
.modal-body label{
    font-weight: normal;
    margin: 0px;
}
.modal-body label input{
    zoom:110%;
}
.modal-body>.table>tbody>tr>td,.modal-body>.table>tbody>tr>th{
    padding: 4px;
/*    padding-bottom: 0px;*/
    
}
#background{
    height: 540px;
    background:none;
    width: 960px;
    border: none;
}
#section_bigmap>label.move-point {
      left: 10px;
  bottom: 70px;
  position: absolute;
  font-size: 20px;
 
}
