<div class="center top-block" deep-panel>
    <header deep-header="工作台">
    </header>
    <main>
        <div class="main-content" data-phase="ready-to-make">
            <button ng-class="{'disabled':!checkMaterial()}" class="deep-btn blue lg start-build">搭建框架</button>
            <section>
                <header deep-dbline-header="消耗材料"></header>
                <main>
                    <div hover-item="m" hover-kind="item" ng-show2="print(m.cnt,v.item[m.name].cnt)" class="item" deep-item-icon="{{getItemIcon(res.items[m.name],'wheat')}}" ng-repeat="m in res.products[working.kind].material" deep-cnt="{{v.item[m.name].cnt+'/'+m.cnt}}" deep-name="{{m.name}}" class="material" deep-judge="m.cnt<=v.item[m.name].cnt">

                    </div>
                </main>
            </section>
            <section>
                <header deep-dbline-header="消耗体力"></header>
                <main>
                <span ng-bind="powerConsume"></span>
                </main>
            </section>
<!--
            <section class="extension">
                <header deep-dbline-header="扩展方向">
                </header>
                <main>

                    <label ng-repeat="(name,dir) in extensions" deep-select="extensions[name]">{{name}}</label>
                </main>
            </section>
-->
        </div>

    </main>
</div>

<div class="left top-block">
    <button ng-click="goScene('home')" class="red-icon go-back" data-icon="left"></button>
    <button ng-click="goScene('state')" class="red-icon go-state yellow" data-icon="profile"></button>
    <div class="info-block">
        <header>当前制作</header>
        <main class="red-normal-item solid" ng-bind="working.kind">

        </main>
    </div>
    <div class="info-block">
        <header>体力</header>
        <main deep-power="v.power" deep-power-max="v.powerMax">
            <div class="deep-power-fill"></div>
        </main>
    </div>
    <div class="btn-wrap">
        <button ng-click="goScene('make-select')" class="deep-btn green lg change-target">选择制作物品</button>
        <button ng-click="goScene('make-select')" class="deep-btn orange lg disslove">分解</button>
    </div>
</div>

<div class="right top-block" deep-panel>
    <div class="section">
        <header deep-dbline-header="相关技能"></header>
        <main>
            <div ng-repeat="skill in res.products[working.kind].skill" class="skill">

                <div ng-mouseenter="hoverSkill(skill)" ng-mouseleave="stopHoverSkill()" class="skill-wrap">
                    <div class="deep-item-icon">
                        <img draggable="false" ng-src="{{getSkillIcon(skill.name)}}" alt="" class="skill-icon">
                    </div>
                    <!--
                    <div class="skill">
                        <img draggable="false" ng-src="{{getSkillIcon(skill.name)}}" alt="" class="skill-icon">
                        <img draggable="false" ng-src="{{getSkillBg(skill.name)}}" alt="" class="skill-bg">
                        <label class="level" ng-bind="v.skill[skill.name].level"></label>
                    </div>
-->
                    <label class="name" ng-bind="skill.name"></label>
                </div>
            </div>
            <div ng-repeat="skill in res.products[working.kind].extSkill" class="skill">
                <div ng-mouseenter="hoverSkill(skill)" ng-mouseleave="stopHoverSkill()" class="skill-wrap">
                    <div class="deep-item-icon">
                        <img draggable="false" ng-src="{{getSkillIcon(skill.name)}}" alt="" class="skill-icon">
                    </div>
                    <label class="name" ng-bind="skill.name"></label>
                </div>
                <!--
                <div ng-mouseenter="hoverSkill(skill)" ng-mouseleave="stopHoverSkill()" class="skill-wrap">
                    <div class="skill">
                        <img draggable="false" ng-src="{{getSkillIcon(skill.name)}}" alt="" class="skill-icon">
                        <img draggable="false" ng-src="{{getSkillBg(skill.name)}}" alt="" class="skill-bg">
                        <label class="level" ng-bind="v.skill[skill.name].level"></label>
                    </div>
                    <label class="name" ng-bind="skill.name"></label>
                </div>
-->
            </div>
        </main>
    </div>
    <div class="section">
        <header deep-dbline-header="相关仪器"></header>
        <main>
            <div ng-repeat="instrument in res.products[working.kind].instrument" class="instrument">
                <div class="left-header">
                    <div class="deep-item-icon item-icon">
                        <img ng-src="{{getItemIcon(instrument,'wheat')}}" alt="">
                    </div>
                    <span ng-bind="instrument" class="name"></span>
                </div>

            </div>
            <div ng-repeat="instrument in res.products[working.kind].extInstrument" class="ext-instrument">
                <div class="left-header">
                    <div class="deep-item-icon  item-icon">
                        <img ng-src="{{getItemIcon(instrument,'wheat')}}" alt="">
                    </div>
                    <span ng-bind="instrument" class="name"></span>
                </div>

            </div>
        </main>
    </div>
</div>
<!--
        <img draggable="false" ng-src="{{::img.red_header}}" class="header">
            <span class="header unselectable" ng-bind="selectingProductKind||'制作'" ng-class="{little:selectingProductKind}"></span>-->
<!--  强化方向 每次强化选择花费的体力?小游戏?如何决定强化策略? 相关技能 哪些影响? 相关材料 失败率? 相关仪器 额外的仪器带来额外的收益?熟练度? 腐烂? 先完成基础部分搭建然后选择强化方向? 面板: 选择产品 制造详情 当前制作 产品:一开始有一段固定条,表示基础部分.开工前可以选择基础部分的方向(创新\性能\稳定).开工后-->