@import "bootstrap/forms.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/alerts.less";
@import "bootstrap/glyphicons.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/tables.less";
@import "prefix.less";
@import "btn.less";
.normal-pointer{
    cursor: url("@{res-folder}/cursor/normal.cur"),auto;
}
.text-pointer{
    cursor: url("@{res-folder}/cursor/text.cur"),auto;
}
.pointer-cursor{
    cursor: url("@{res-folder}/cursor/link.cur"),pointer;
//    cursor:pointer; 
}
.clickable {
    .pointer-cursor;
    .unselectable;
    >*{
        .pointer-cursor;
        .unselectable;
    }
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:active,&:focus,&:hover,&:visited{
        .pointer-cursor;
    }
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    vertical-align: middle;
    margin: 0px;
}

.caret(@size) {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: @size;
    vertical-align: middle;
    border-top: @size*2 solid;
    border-right: @size*2 solid transparent;
    border-left: @size*2 solid transparent;
    vertical-align: middle;
    margin: 0px;
}

.fill {
    height: 100%;
    width: 100%;
}

.abs-fill {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.trans {
    .transition(-webkit-transform 400ms);
    .transition(-moz-transform 400ms);
    .transition(-ms-transform 400ms);
    .transition(-o-transform 400ms);
    .transition(transform 400ms);
}

.hide {
    display: none !important;
}

*[data-show="1"] {}

*[data-show="0"] {
    .hide;
}

.square(@size) {
    width: @size;
    height: @size;
}

.common-square(@size) {
    width: @size;
    height: @size;
}
.common-bg(@location){
    background-image: url("@{res-folder}/@{location}");
    background-repeat: no-repeat;
    background-size: cover;
}
.round {
    border-radius: 10000px;
    overflow: hidden;
}

.vertical-center {
    position: absolute;
    top: 50%;
    .transform(translateY(-50%));
}

.horizontal-center {
    position: absolute;
    left: 50%;
    .transform(translateX(-50%));
}
.blue-panel{
    background-color: rgba(70, 130, 180, 0.25);
    border-radius: 10px;
    border:rgb(70, 130, 180) 1px solid;
}