@import "common.less";
@path: "@{res-folder}/UI/red";
@icon-path: "@{res-folder}/UI/red/icon";
.red-panel-corner {
    background-image: url("@{path}/red_panel_corner_big.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 50%;
    height: 50%;
    &.red-panel-corner1 {
        top: 0;
        left: 0;
        background-position: left top;
    }
    &.red-panel-corner2 {
        top: 0;
        left: 50%;
        background-image: url("@{path}/red_panel_corner_big2.png");
        background-position: right top;
    }
    &.red-panel-corner3 {
        bottom: 0;
        right: 0;
        background-image: url("@{path}/red_panel_corner_big3.png");
        background-position: right bottom;
    }
    &.red-panel-corner4 {
        bottom: 0;
        left: 0;
        background-image: url("@{path}/red_panel_corner_big4.png");
        background-position: left bottom;
    }
}

.red-scroll-shadow-wrap {
    &:after {
        content: "";
        background: linear-gradient(to bottom, rgb(30, 24, 21), transparent);
        height: 13px;
        position: absolute;
        top: 0px;
        right: 10px;
        left: 0;
        z-index: 1;
    }
    .red-scroll {
        .abs-fill;
        padding-top: 10px;
    }
}

.red-scroll {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 100px;
        background-color: darken(rgb(26, 21, 18), 5%);
        overflow: visible;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        box-shadow: inset 0 0 3px rgb(0, 0, 0, 0.5);
        background-color: #413838;
    }
}

.red-top-shadow {}

.red-icon {
    .square(80px);
    position: relative;    
    background-size: contain;
    background-repeat: no-repeat;    
    background-image: url("@{path}/btn_circle_red.png");  
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    &.disabled{
        opacity: 0.4;
    }
    &:after {        
        .abs-fill;
        .square(68%);
        .bg("@{path}/Button_Circular_Small_Press.png");
        content: "";
        opacity: 0;        
//        transition: 0.15s opacity linear;
    }
    &:active {
        &:after {
            opacity: 1;
        }
    }
    &:before {
        .abs-fill;
        .square(40%);
        content: "";
        background-position: center;
        background-size: contain;        
        background-repeat: no-repeat;
    }
    .set-icon(@icon) {
        &[data-icon="@{icon}"] {
            &:before {
                background-image: url("@{icon-path}/@{icon}.png");   
            }
        }
    }
    .set-icon("left");
    .set-icon("home");
    .set-icon("close");
    .set-icon("accept");
    .set-icon("hammer");
    
    .set-color(@color) {
        &.@{color} {            
            background-image: url("@{path}/btn_circle_@{color}.png");
        }
    }
    .set-color(blue);
    .set-color(red);
    .set-color(green);
    .set-color(yellow);
}

.red-normal-item {
    .bg("@{path}/red_item_bg.png");
    .clickable;
    @height: 41px;
    line-height: @height;
    height: @height;
    width: 236px;
    margin: auto;
    background-position: center;
    text-align: center;
    color: #6f6362;
    font-size: 18px;
    //    font-weight: bold;
    position: relative;
    &:after {
//        transition: 0.05s opacity linear;
        content: "";
        .square-crop(3px);
        background-color: rgba(30, 24, 21, 0.34);
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
        opacity: 0;
    }
    &:active {
        &:after {
            opacity: 1;
        }
    }
    &:hover {
        color: #dec7aa;
    }
}

.deep-btn {
    .clickable;
    .bg("@{path}/btn_rect_red.png");
    @normal-height: 37px;
    line-height: @normal-height;
    height:@normal-height;
    width: 120px;
    font-size: 15px;
    margin: auto;
    background-position: center;
    text-align: center;
    color: #e1c3a9;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    &.disabled{
        opacity: 0.4;
    }
    &:after {
//        transition: 0.05s opacity linear;
        content: "";
        .square-crop(3px);
        background-color: rgba(48, 17, 11, 0.34);
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
        opacity: 0;
    }
    &:not(.disabled):active {
        &:after {
            opacity: 1;
        }
    }
    
    

    .set-size(@size,@height){
        &.@{size}{
            line-height: @height;
            height: @height;
            font-size: 14px/@normal-height*@height;
            width:110px/@normal-height*@height;
        }        
    }
    .set-size(lg,57px);
    .set-size(sm,32px);
    .set-size(xs,24px);
    .set-color(@color) {
        &.@{color} {
            & {
                background-image: url("@{path}/btn_rect_@{color}.png");
            }
        }
    }
    .set-color(@color,@font-color) {
        .set-color(@color);
        &.@{color} {
            color: @font-color;
        }
    }
    .set-color(red);
    .set-color(purple);
    .set-color(orange);
    .set-color(green);
    .set-color(blue);
}
.deep-slot{
    .bg("@{path}/slot.png");
    @height:30px;
    height: @height;
    width:@height * 312 / 104;
    line-height: @height + 1px;
    text-align: center;
    font-size: 15px;    
    background-position: center center;
}
.deep-little-box{
    @height:40px;
    height: @height;
    width:@height * 148 / 76;
    line-height: @height;
    text-align: center;
    font-size: 17px;
    .bg("@{path}/little_box.png");
    background-position: center center;
}