@import "common.less";
@import "variables.less";
@import "red-ui.less";
html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#wrap {
    .abs-fill;
    //    min-height: 400px
}

* {
    box-sizing: border-box;
    font-family: punctuation, "PingFangSC-Regular", "Microsoft Yahei", "sans-serif";
    -webkit-font-smoothing: subpixel-antialiased;
    .normal-pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .text-pointer;
}

button,
a {
    .pointer-cursor;
}

button {
    .clickable;
    .unselectable;
}

input {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #aaa;
}
.scene-wrap{
    width: 960px;
    height: 540px;
    .abs-fill;
    overflow: visible;
}
.scene {
    border-radius: 7px;
    z-index: 0;
    .abs-fill;
    display: none;
    overflow: hidden;    
    &.active {
        display: block;
        z-index: 1;
    }
    &[data-scene="cover"] {
        @import "scene/cover.less";
    }
    &[data-scene="preload"] {
        @import "scene/preload.less";
    }
    &[data-scene="chat"] {
        @import "scene/chat.less";
    }
    &[data-scene="state"] {
        @import "scene/state.less";
    }
    &[data-scene="home"] {
        @import "scene/home.less";
    }
    &[data-scene="bigmap"] {
        @import "scene/bigmap.less";
    }
    &[data-scene="make-select"] {
        @import "scene/make-select.less";
    }
    &[data-scene="make"] {
        @import "scene/make.less";
    }
    &[data-scene="character"] {
        @import "scene/character.less";
    }
}

#editor-wrap {
    @import "editor.less";
}
