@import "common.less";
@import "variables.less";
@import "mixin.less";
html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
body{
    box-sizing: border-box;
    font-family: punctuation, "PingFangSC-Regular", "Microsoft Yahei", "sans-serif";
    -webkit-font-smoothing: subpixel-antialiased;
    .normal-pointer;
}
#wrap {
    .abs-fill;
}
*{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .text-pointer;
}

button,
a {
    .pointer-cursor;
}

button {
    .clickable;
    .unselectable;
}

input {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #aaa;
}

.scene-wrap {
    .abs-fill;
    width: 960px;
    height: 540px;
    overflow: visible;
    >.debug {
        position: absolute;
        left: 0;
        top: -40px;
        opacity: 0.03;
    }
    >.debug-panel {
        position: absolute;
        z-index: 100;
        .go-scene {
            display: block;
        }
    }
}

.scene {
    border-radius: 7px;
    z-index: 0;
    .abs-fill;
    //    display: none;
    overflow: hidden;
    opacity: 1;
    transition: 0s all linear;
    &.ng-enter-active {
        opacity: 1;
    }
    &.ng-leave {
        opacity: 0;
    }
    //injectSceneFiles
}
.hover-item{
    
}
.hover-card-wrap {
    position: absolute;
    >.hover-card{
        z-index: 1000;
        color: wheat;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 12px;            
    }
    &[hover-card="character"] {
        >.hover-card {            
            width: 200px;            
            .summary {
                margin-bottom: 10px;
            }
        }
    }
    &[hover-card="item"]{
        >.hover-card{
            width: 250px;
            .key{
                margin: 0;
            }
            .value{
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }
}

#editor-wrap {
    @import "editor.less";
}