@import "common.less";
@import "variables.less";
@import "mixin.less";
html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#wrap {
    .abs-fill;
}

* {
    box-sizing: border-box;
    font-family: punctuation, "PingFangSC-Regular", "Microsoft Yahei", "sans-serif";
    -webkit-font-smoothing: subpixel-antialiased;
    .normal-pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .text-pointer;
}

button,
a {
    .pointer-cursor;
}

button {
    .clickable;
    .unselectable;
}

input {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #aaa;
}

.scene-wrap {
    .abs-fill;
    width: 960px;
    height: 540px;
    overflow: visible;
    >.debug {
        position: absolute;
        left: 0;
        top: -40px;
        opacity: 0.03;
    }
    >.debug-panel {
        position: absolute;
        z-index: 100;
        .go-scene {
            display: block;
        }
    }
}

.scene {
    border-radius: 7px;
    z-index: 0;
    .abs-fill;
    //    display: none;
    overflow: hidden;
    opacity: 1;
    transition: 0s all linear;
    &.ng-enter-active {
        //        display: block;
        //        z-index: 1;
        opacity: 1;
    }
    &.ng-leave {
        opacity: 0;
    }
    //    &.active {
    //        display: block;
    //        z-index: 1;
    //    }
    &[data-scene="cover"] {
        @import "scene/cover.less";
    }
    &[data-scene="preload"] {
        @import "scene/preload.less";
    }
    &[data-scene="chat"] {
        @import "scene/chat.less";
    }
    &[data-scene="state"] {
        @import "scene/state.less";
    }
    &[data-scene="home"] {
        @import "scene/home.less";
    }
    &[data-scene="bigmap"] {
        @import "scene/bigmap.less";
    }
    &[data-scene="make-select"] {
        @import "scene/make-select.less";
    }
    &[data-scene="make"] {
        @import "scene/make.less";
    }
    &[data-scene="character"] {
        @import "scene/character.less";
    }
}

.hover-card-wrap {
    position: absolute;
    &[hover-card="character"] {
        .hover-card {
            z-index: 1000;
            width: 200px;
            font-size: 12px;
            color: wheat;
            background-color: rgba(0, 0, 0, 0.7);
            .summary {
                margin-bottom: 10px;
            }
        }
    }
}

#editor-wrap {
    @import "editor.less";
}