<!DOCTYPE html>
<html>
<head>
    <title>科协浮生记</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="game">
    <meta name="author" content="blackmiaool">
    <link rel="shortcut icon" href="res/monkey.png">
    <link rel="stylesheet" href="dist/css/style.css" />
    <script src="dist/js/poli.js"></script>
    <h5 id="game-first-tip" style="text-align:center;">服务器连接成功，正在拉取JS与CSS~</h5>
</head>

<body ng-controller="root_controller" ng-cloak>
    <div id="wrap">
        <div class="scene" data-scene="bigmap">
            <!-- inject2: bigmap.html-->
        </div>
        <div class="scene" data-scene="chat">
            <!-- inject2: chat.html-->
        </div>
        <div class="scene" data-scene="cover">
            <div ng-controller="cover_controller">
                <h1 class='logo-title'>科协浮生记</h1>
            
                <div class="btns">
                    <button ng-click="start()" index="0" class="btn btn-lg btn-primary" id="cover_btn1">开始游戏</button>
            
                    <button ng-click="read()" index="1" class="btn btn-lg  btn-default" href="langshenjiao/index.html">读取进度</button>
            
                    <button ng-click="about()" index="2" class="btn btn-lg btn-warning">关于游戏</button>
                </div>
            
            
            </div>
        </div>
        <div class="scene" data-scene="preload">
            <div class="wrap">
                <img src="res/System/loading.gif" alt="" class="loading-img">
                <div class="progress" style="width:960px;">
                    <div id="preload_progress_bar" min-width="2em" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="scene" data-scene="home">
            <!-- inject2: home.html-->
        </div>
        <div class="scene" data-scene="save">
            <!-- inject2: save.html-->
        </div>
    </div>
    <script data-main="dist/js/main" src="dist/js/require.js"></script>
</body>

</html>