@import "common.less";

.modal-body {
    label {
        font-weight: normal;
        margin: 0px;
        input {
            zoom: 110%;
        }
    }
    &>.table>tbody>tr {
        &>td,
        &th {
            padding: 4px;
        }
    }
    table.class-design {
        font-size: 18px;
    }
}
#home-head {
    display: block;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);    
    border:none;
    border-bottom: 5px solid steelblue;    
    .prop {
        width: 100%;
        opacity: 1;
        background-color: rgba(170, 170, 170, 0);
        border:none;
        padding: 0px;
        margin: 0px;
        padding-top: 8px;
        .prop-set {        
            margin: 0px;
            
            margin-left: 25px;            
            display: inline-block;
            float: left;
        }
        .prop-name {
            display: inline-block;
            border:none;            
            color: rgb(255, 255, 230);
            margin: 0px;                        
            font-weight: bold;
        }
        .prop-value { 
            display: inline-block;            
            color: white;
            margin: 0px;
            min-width: 60px;            
            margin-left: 5px;
        }
    }
}
#home-main-tab {
    position: absolute;
    width: 100px;
    top: 0px;
    left: 30px;
    bottom: 0;
    margin: auto;
    height: 303px;

    &>button {
        text-align: center;
        background-color: steelblue;
        margin: 5px;
        border-radius: 8px;
        padding: 5px;
        padding-right: 20px;
        padding-left: 20px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        transition: transform 0.2s;
        &:hover {
            transform: translateX(5px);
        }
        &.active {
            background-color: coral;
        }
    }
    .desk-frame-nav {
        padding: 0px;
        font-size: 120%;
    }
    li.desk-frame-nav a {
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
    }
    span.success {
        background-color: #5cb85c;
    }
    span.warning {
        background-color: rgb(240, 173, 78);
    }
    span.error {
        background-color: rgb(241, 35, 26);
    }
}
#tab-buy {
    font-size: 16px;
    label {
        margin-bottom: 0px;
    }
    .my-tab-store-content {
        overflow: auto;
        /*    height: 310px;*/
        margin: 0px;
        margin-top: 10px;
    }
    .my-tab-content {
        overflow: auto;
        /*    height: 350px;*/
        margin: 0px;
        margin-top: 10px;
    }
    #buy-tabs {
        margin-bottom: 7px;
    }
    .tab-pane {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    #store-tabs-content {
        .tab-store-items {
            font-size: 130%;
        }
        .panel-head {
            border-style: solid solid none solid;
        }
        .panel-table {
            border-style: none solid none solid;
            font-size: 70%;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        .panel-foot {
            border-style: none solid solid solid;
        }
        .my-panel-heading {
            /*padding: 2px;*/
            font-size: 100%;
            &.selected {
                background-color: steelblue;
                color: #fff;
            }
        }
        .item-panel {
            border-color: #fff;
            border-style: none solid solid solid;
            border-radius: 0px;
            border-width: 0px;
            border-top-width: 0px;
            width: 100%;
            margin: 10px;
            margin-top: 0px;
            padding: 0px;
            vertical-align: baseline;
            font-color: rgba(255, 0, 0, 1);
        }
    }
    .store-panel-content {
        padding: 10px;
        text-align: center;
    }
}
#tab-team {
    #carousel-team-generic {
        width: 250px;
        position: relative;
        left: -150px;
        .carousel-inner img {
            height: 400px;
        }
    }
    .panel-default {
        width: 58%;
        margin: 0px;
        margin-top: 30px;
        padding-top: 7px;
        border-radius: 0px;
        float: right;
    }
    .carousel {
        width: 40%;
        /*    height: 100%;*/
        vertical-align: middle;
    }
    .carousel-inner .item {
        text-align: center;
        img {
            text-align: center;
        }
    }
}
#tab-plan {
    .plan-right-block {
        text-align: center;
    }
    #tab-plan-left {
        height: 100%;
        .scene-btn {
            margin: 9px;
            width: 156px;
            height: 100%;
            border-width: 2px;
            margin-top: 0px;
            div.des {
                font-size: 25px;
            }
            div.glyphicon {
                font-size: 33px;
            }
        }
    }
    .plan-right-label {
        background-color: steelblue;
        color: aliceblue;
        width: 100%;
        border-radius: 10px;
        padding: 2px;
        margin: 0px;
    }
    .plan-right-value {
        font-size: 16px;
        margin: 0px;
        width: 100%;
        text-align: center;
        &.transparent {
            color: rgba(255, 255, 255, 0)
        }
    }
    .today-class {
        width: 100%;
        color: rgba(10, 10, 10, 1);
        margin-bottom: -5px;
        margin-top: 2px;
        &.ng-move,
        &.ng-enter,
        label {
            -webkit-transition: all linear 0.5s;
            transition: all linear 0.5s;
        }
        &.ng-enter,
        &.ng-move {
            background-color: white;
        }
        &.ng-enter.ng-enter-active,
        &.ng-move-active {
            background-color: rgba(255, 255, 255, 0);
        }
        &.error {
            color: #c9302c;
        }
        &.success {
            color: #5cb85c;
        }
        &.selected {
            width: 100%;
            color: rgba(10, 10, 10, 1);
            margin-bottom: -5px;
            margin-top: 0px;
        }
        .left {
            width: 35%;
            float: left;
            text-align: left;
            margin: 0px;
        }
        .right {
            width: 65%;
            float: right;
            text-align: right;
            margin: 0px;
        }
    }
    .make-state {
        text-align: center;
        margin: 0px;
        margin-right: 0px;
        .left {
            width: 35%;
            float: left;
            text-align: left;
            margin: 0px;
        }
        .right {
            width: 65%;
            float: right;
            text-align: right;
            ;
            margin: 0px;
        }
        .make-state-line {
            display: block;
        }
    }
}
#tab-skill {
    #skill_point {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 150px;
        display: inline-block;
        font-size: 30px;
    }
}
#home-tabs {
    position: absolute;
    margin: 0px;
    //        width: 800px;
    top: 60px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    background-color: rgba(230, 230, 230, 0.7);
    &.desk-frame {
        &>.tab-content {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 20px;
            margin-left: 100px;
            .tab-content {
                overflow: auto;
                margin: 0px;
            }
        }
    }
    .desk-frame {
        /*    position: absolute;*/
        padding: 15px;
        border-color: rgba(51, 122, 183, 0.85);
        border-style: solid;
        border-width: 0px;
        border-radius: 5px;
        font-size: 120%;
        margin: 30px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    #tab-plan {
        #tab-plan-left {
            display: block;
            text-align: center;
            margin-right: 200px;
        }
        #tab-plan-right {
            //                width: 26.2%;
            width: 195px;
            float: right;
            overflow: hidden;
        }
    }
}
#tab-quest {
    .panel-des {
        text-indent: 35px;
        border-style: none none solid none;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.1);
    }
    .panel-heading {
        /*border-radius: 0px;*/
        padding: 2px;
    }
    .prop-tab-name-left {
        border-style: none solid none none;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.1);
        padding: 0px;
        font-size: 130%;
        border-radius: 0px;
    }
    .prop-tab-name-right {
        border-style: none none none none;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.1);
        font-size: 130%;
        border-bottom-left-radius: 0px;
    }
    .prop-tab-name {
        width: 25%;
    }
    .prop-tab-value {
        text-align: right;
        width: 25%;
    }
}
#tab-make {
    #make-panel-group .panel {
        background-color: #fff;
        border-radius: 0px;
        width: 100%;
        margin: 0px;
    }
    .panel-group {
        float: right;
        width: 40%;
    }
    .store-panel-content span label {
        font-size: 15px;
        font-weight: 400;
    }
    .item-num {
        color: green;
    }
    .insufficient {
        color: red;
    }
    .sufficient {
        color: green;
    }
    #tab-make-progress {
        width: 90%;
        background-color: #eee;
        margin: 0px;
        bottom: 0px;
        display: inline-block;
    }
    #tab-make-output {
        height: 230px;
        margin: 0px;
        margin-bottom: 10px;
        width: 90%;
        padding: 5px;
        overflow: auto;
        display: inline-block;
        p {
            margin-bottom: 3px;
            float: left;
            text-align: left;
            display: block;
            width: 100%;
        }
    }
}
.store-panel-content {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
#system-setting {
    position: absolute;
    border-radius: 0px;
    right: 0px;
    top: 0px;
}
#system-setting button {
    border-radius: 0px;
    font-size: 18px;
}
#tab-item {
    text-align: left;
    ul {
        float: left;
        list-style: none;
        padding-left: 5px;
        width: 20%;
        margin: 0px;
        text-align: center;
        &>li {
            float: none;
            margin: 5px;
            width: 80%;
            padding-top: 5px;
            padding-bottom: 5px;
            box-sizing: border-box;
            border-width: 2px;
            border-color: rgba(0, 0, 0, 0);
            padding-bottom: 0px;
            padding-top: 0px;
            font-size: 20px;
            &.active {
                background-color: #337ab7;
                color: aliceblue;
            }
            &:hover {
                border-color: #337ab7;
            }
        }
    }
    .panel {
        text-align: center;
        position: relative;
        left: 0px;
    }
    .content {
        width: 80%;
        float: right;
        text-align: center;
        .panel {
            margin: 0px;
            margin-top: 5px;
        }
        .item-panel {
            margin-top: 0px;
        }
        .panel-title {
            background-color: #fff;
        }
    }
}