<div ng-controller="MakeSelectController" class="make-wrap">
    

    <div deep-panel class="select-target">
        <header deep-header="{{selectingProductKind||'制作'}}" ng-class="{little:selectingProductKind}" class="header">            
        </header>
        <main class="red-scroll-shadow-wrap">
            <div class="red-scroll page" data-page="0" ng-class="{left:productSelectPageIndex>0,center:productSelectPageIndex==0,right:productSelectPageIndex<0}">
                
                <div ng-click="selectProductKind(product)" ng-repeat="product in res.products" class="red-normal-item product clickable bold" ng-bind="product.name">
                </div>
            </div>
            <div class="red-scroll page" data-page="1" ng-class="{left:productSelectPageIndex>1,center:productSelectPageIndex==1,right:productSelectPageIndex<1}">
               <div ng-click="goScene('make',selectingProductKind)" data-deep-btn="blue" class="deep-btn start-new-product">开个新坑</div> 
                <div ng-click="goScene('make',selectingProductKind,work.id)" ng-repeat="work in v.work[selectingProductKind]" class="red-normal-item work clickable" ng-bind="work | workPrefix">
                </div>
            </div>
        </main>
        <div ng-if="productSelectPageIndex==0" class="red-icon go-back " data-icon="home" ng-click="goHome()"></div>
        <div ng-if="productSelectPageIndex==1" class="red-icon go-back " data-icon="left"  ng-click="productSelectPrevPage()"></div>
    </div>
    <main>
        <div class="make-progress"></div>

    </main>



</div>