<div ng-controller="BigmapController" class="top">
    <img class="big-bg" src="res/System/bigmap.jpg" style="height:540px;" ng-class="{active:active}">
    <button ng-click="enter(value.text)" ng-repeat="(name,value) in spots" class="btn clickable" ng-class="value.class" ng-style="value" style="position:absolute;">
        <span class="glyphicon glyphicon-{{value.icon}}"></span>&nbsp;<span ng-bind="name"></span>
    </button>
    <button ng-click="goBack()" class="btn btn-primary btn-lg clickable" style="position:absolute;bottom:10px;left:10px;">
        <span class="glyphicon glyphicon-home"></span>&nbsp;返回
    </button>
</div>