<div class="kind-wrap">
    <div ng-click="setItemKind(kind.name)" ng-repeat="kind in itemKinds" class="item-kind-select clickable" ng-class="{active:currentItemKind==kind.name}">
        <img draggable="false" ng-src="/res/icon/{{::kind.icon}}.svg" alt="">
        <div class="name" ng-bind="::kind.name"></div>
    </div>

</div>
<div class="items-wrap">
    <div ng-click="selectItem(item)" ng-repeat="item in items" ng-if="currentItemKind==item.kind" class="item-wrap clickable">
        <label class="cnt" ng-bind="item.cnt"></label>
        <label class="name" ng-bind="item.name"></label>
        <img draggable="false" ng-src="/res/icon/item/white/{{item.icon}}.svg" alt="">
    </div>
    <!--
<div ng-repeat="last in getLast()" class="item-wrap" style="visibility: hidden;">
</div>
-->
</div>
<div class="desc-wrap">
    <div ng-if="selectingItem" class="desc-wrap1">
        <div class="icon-wrap">
            <img draggable="false" ng-src="/res/icon/item/white/{{selectingItem.icon}}.svg" alt="">
        </div>

        <label class="tag name">名称:</label>
        <p class="value name" ng-bind="selectingItem.name"></p>
        <label class="tag cnt">数量:</label>
        <p class="value cnt" ng-bind="selectingItem.cnt"></p>
        <label class="tag brief">简介:</label>
        <p class="value brief" ng-bind="selectingItem.brief"></p>
        <label class="tag comment">备注:</label>
        <p class="value comment" ng-bind="selectingItem.comment"></p>
    </div>
</div>