@import "common.less";
@import "variables.less";
background: url("@{res-folder}/Background/make.png");
text-align: center;
background-position: bottom;
background-size: cover;
.settings-wrap {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 5px;
    text-align: left;
    padding: 17px;
    .title {
        color: white;
    }
    .settings-content-wrap {
        height: 230px;
        width: 400px;
        position: relative;
    }
}