@import "common.less";
@import "variables.less";
.common-bg("Background/home.jpg");
.basic {
    padding: 3px 7px 4px 7px;
    border-radius: 5px;
    display: inline-block;
    @color: @blue;
    font-size: 0;
    color: white;
    background-color: @color;
    .key {
        vertical-align: middle;
        display: inline-block;
        padding: 6px 10px 5px 5px;
        font-size: 18px;
    }
    .value {
        height: 30px;
        vertical-align: middle;
        overflow: hidden;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        font-size: 18px;
        color: black;
        background-color: white;
        padding: 3px 0px;
        width: 100px;
    }
    &.name {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    &.power {
        position: absolute;
        top: 70px;
        left: 15px;
        .value {
            width: 150px;
            background-color: white;
            color: black;
            position: relative;
            >span {
                border-radius: 4px;
            }
            >.bg {
                background-color: white;
            }
            >.fill {
                .abs-fill;
                transition: 1s width linear;
                right: auto;
                background-color: #449d44;
                width: 100%;
            }
            >.text {
                position: relative;
                color: white;
                text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
            }
        }
    }
    &.term {
        position: absolute;
        top: 125px;
        left: 15px;
        background-color: @purple;
    }
    &.month {
        position: absolute;
        top: 180px;
        left: 15px;
        background-color: @purple;
        .value {}
        .rotate {
            display: inline-block;
            line-height: 24px;
            &.transition {
                transition: 0.5s transform ease-out;
            }
            &.upon {
                .transform(translateY(-24px));
                &.active {
                    .transform(translateY(0px));
                }
            }
            &.below {
                .transform(translateY(-24px));
                &.active {
                    .transform(translateY(0px));
                }
            }
        }
    }
}

.settings {
    .common-bg("icon/cogwheel3.svg");
    .square(40px);
    //    border:3px solid @blue;
    .round;
    position: absolute;
    left: 218px;
    top: 15px;
    transition: 0.2s transform ease-out;
    &:hover {
        .transform(rotate(10deg))
    }
}

.action-panel {
    .abs-fill;
    @height: 135px;
    top: auto;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-radius: 10px;
    height: @height;
    background-color: rgba(255, 255, 255, 0.8);
    border: 6px solid @blue;
    box-sizing: content-box;
    overflow: hidden;
    .actions-frame {
        height: @height;
        transition: 0.3s transform ease-out;
        &.active {
            .transform(translateY(100%));
        }
        &.action-top-frame {
            position: absolute;
            width: 100%;
            bottom: @height + 0px;
        }
        &.class-detail {
            .study-info {
                font-size: 18px;
                margin-top: 34px;
                margin-left: 500px;
                div {
                    margin-bottom: 15px;
                }
            }
            .go-class {
                .vertical-center;
                position: absolute;
                left: 330px;
            }
        }
    }
    .action {
        display: inline-block;
        text-align: center;
        margin: 20px;
        width: 70px;
        &.disabled {
            opacity: 0.7;
        }
        &:hover {
            transition: 0.1s transform linear;
            .transform(scale(1.1));
        }
        img {
            .fill;
        }
        &[data-action="状态"] {
            float: right;
        }
        &.action-back {
            .abs-fill;
            right: auto;
            left: 30px;
            height: 50px;
        }
    }
}

.action-show {
    background-color: white;
    .round(100px);
    .abs-fill;
    text-align: center;
    border: 5px solid @blue;
    transition: 0.1s opacity linear;
    &.ng-hide {
        opacity: 0;
    }
    img {
        .abs-fill;
        display: inline-block;
        //        .horizontal-center;
    }
}

//.power-wrap {
//    position: absolute;
//    top: 80px;
//    left: 15px;
//    img {
//        display: block;
//    }
//    .icon {
//        display: inline-block;
//        img {
//            width: 70px;
//        }
//    }
//    .progress-wrap {
//        position: relative;
//        display: inline-block;
//        width: 200px;
//        height: 30px;
//        left: 80px;
//        .vertical-center;
//        >img {
//            .fill;
//        }
//        .pro {
//            .abs-fill;
//            top: 31%;
//            bottom: 28%;
//            left: 4.3%;
//            right: 4.7%;
//            >img {
//                .fill;
//            }
//        }
//    }
//}