@import "common.less";
@import "variables.less";
.common-bg("Background/make.png");
.select-target {
    .abs-fill;
    height: 500px;
    width: 350px;
    header {
        position: absolute;
        left: 0;
        right: 0;
        top: -20px;
        margin: auto;
        img.header {
            width: 100%;
        }
        h3.header {
            .abs-fill;
            top: 30px;
            text-align: center;
            font-size: 28px;
            line-height: 28px;
            //            color:#c54d21;
            color: #dec7aa;
//                        text-shadow: 0px -1px 0px black;            
        }
        &:hover{
//            .transform(rotate3d(1, 0, 0, 60deg));
        }
    }
    main {
        .abs-fill;
        top: 90px;
        left: 40px;
        right: 40px;
        overflow: auto;
        bottom: 35px;
        &::-webkit-scrollbar {
            width: 7px;
            .common-bg("UI/red/Slider_Horizontal_Background.png");
            overflow: visible;
        }
        &::-webkit-scrollbar-thumb {
//            .common-bg("UI/Slider_Horizontal_Thumb.png");
            background-color: #413838;
            background-size: contain;
            height: 40px !important;
            width: 20px !important;
        }   
        .product {
            position: relative;
            text-align: center;
            &:hover {
                h5 {
                    color: #dec7aa;
                }
            }
            img {
                width: 90%;
            }
            h5 {
                .abs-fill;
                .vertical-center;
                text-align: center;
                font-size: 18px;
                line-height: 18px;
                color: #6f6362;
            }
        }
    }
}