@import "common.less";
@import "variables.less";
.page-select-wrap {
    position: absolute;
    z-index: 1;
    .transform(translateY(-50%));
    top: 50%;
    left: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .page-select {
        width: 105px;
        //        &:extend(.btn-lg);
        position: relative;
        outline: none;
        >.cover{
            .abs-fill;
            width: 100%;
            opacity: 0;
        }
        >button{
            transform-origin: left ;
        }
        &:hover{
            >button.solid{
                transform: perspective(500px) rotate3d(0,1,0,10deg);
                transition: 0.07s transform linear;
            }            
        }
        &:active,&.active{
            >button.solid{
                transform: perspective(500px) rotate3d(0,1,0,30deg);
            }            
        }
         
         
        &:nth-child(1),
        &:nth-child(5) {
            left: 30px;
        }
        &:nth-child(2),&:nth-child(4){
            left: 15px;
        }
//        &:nth-child(2),
        &:nth-child(3) {
            left: 10px;
        }
    }
}

.page {
    .abs-fill;
//    background: url("@{res-folder}/Background/state.jpg") center top no-repeat;
    background-size: cover;
    &[data-page="status"] {
        @import "state/status.less";
    }
    &[data-page="skill"] {
        @import "state/skill.less";
    }
    &[data-page="people"] {
        @import "state/people.less";
    }
    &[data-page="story"] {
        @import "state/story.less";
    }
    &[data-page="item"] {
        @import "state/item.less";
    }
    &[data-page="device"] {
        @import "state/device.less";
    }
}