<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title" id="myModalLabel" style="text-align:center;">本周课程安排(第{{z.time.week}}周)</h4>
        </div>
        <div class="modal-body">
            <table class="table table-striped class-design">
                <thead>
                    <tr>
                        <th>星期</th>
                        <th>上午</th>
                        <th>下午</th>
                        <th>晚上</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="index in weeks">
                        <th scope="row">{{index}}</th>
                        <td ng-repeat="period in week_name">
                            <label>
                                <input ng-if="courses[z.time.term][z.time.week][index][period]" type="checkbox" ng-model="arrange[index][period]" />{{courses[z.time.term][z.time.week][index][period]}}</label>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default">同上周</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="arrage_finish()">完成</button>
        </div>
    </div>
</div>