<div ng-controller="StoreController" class="shop-wrap" ng-class="{hide:!show}">
    <div class="shop-mask home-mask" ng-class="{hide:!show,active:active}">

    </div>



    <div deep-panel class="shop-panel " ng-class="{hide:!show,active:active}">
        <button class="close deep-icon" data-icon="close" ng-click="closeStore()">
        </button>
        <button class="checkout clickable deep-btn blue" ng-click="checkout()" ng-class="{poor:poor,disabled:poor}" ng-bind="priceSum<=z.basic.money?'结算':'穷鬼'"></button>
        <div class="have-money">
            <span class="glyphicon glyphicon-credit-card"></span> 持有金钱: <span class="money" ng-bind="z.basic.money+'元'"></span>
        </div>
        <div class="items-money-sum">
            <span class="glyphicon glyphicon-shopping-cart"></span> 总计: <span class="price-sum" ng-bind="priceSum+'元'"></span>
        </div>

        <div class="center-panel-wrap">
            <div class="page-select">
                <button ng-repeat="page in pages" class="item clickable  deep-slot" ng-class="{active:currentPage==page}" ng-click="setPage(page)" data-page="{{::page}}" ng-bind="page"></button>
            </div>
            <div class="bg  deep-darken-panel"></div>
            <div class="center-panel">
                
                <div class="items-desc-frame dark-scroll">
                    <div class="desc-wrap">
                        <div ng-if="selectingItem" class="desc-wrap1">
                            <div class="icon-wrap">
                                <img class="icon" draggable="false" ng-src="{{getItemIcon(selectingItem,'wheat')}}" alt="">
                            </div>

                            <label class="tag name">名称:</label>
                            <p class="value name" ng-bind="selectingItem.name"></p>

                            <label ng-if="currentPage=='器件'" class="tag price">原价:</label>
                            <label ng-if="currentPage=='仪器'" class="tag price">售价:</label>
                            <p class="value price" ng-bind="selectingItem.price+'元'"></p>
                            <label class="tag brief">简介:</label>
                            <p class="value brief" ng-bind="selectingItem.brief"></p>
                            <label class="tag comment">备注:</label>
                            <p class="value comment" ng-bind="selectingItem.comment"></p>
                        </div>
                    </div>
                </div>
                <div class="list dark-scroll" ng-show="currentPage=='器件'">
                    <table class="unselectable">
                        <thead>
                            <tr>
                                <th class="name">名称</th>
                                <th class="price">单价</th>
                                <th class="cnt">数量</th>
                                <th class="have">持有</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item-line" ng-mouseenter="hoverItem(item)" ng-repeat="item in res.items" ng-if="item.buyable=='1'">
                                <td ng-bind="item.name"></td>
                                <td class="price" ng-bind="item.price|storePrice:cartItems[item.name]:item.kind"></td>
                                <td class="cnt">
                                    <button ng-click="minusItem(item)" class="deep-cnt-btn clickable" ng-disabled="cartItems[item.name]<1"><span class="glyphicon glyphicon-minus"></span></button>
                                    <span class="value" ng-bind="cartItems[item.name]"></span>
                                    <button ng-click="addItem(item)" class="deep-cnt-btn clickable"><span class="glyphicon glyphicon-plus"></span></button>
                                </td>
                                <td class="have" ng-bind="z.item[item.name].cnt"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list dark-scroll" ng-show="currentPage=='仪器'">
                    <table class="unselectable">
                        <thead>
                            <tr>
                                <th class="name">名称</th>
                                <th class="price">售价</th>
                                <th class="cnt">购买</th>
                                <th class="have">持有</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item-line" ng-mouseenter="hoverItem(device)" ng-repeat="device in res.devices" ng-if="device.buyable=='1'">
                                <td ng-bind="device.name"></td>
                                <td class="price" ng-bind="device.price"></td>
                                <td class="cnt">
                                    <button ng-click="minusDevice(device)" class="deep-cnt-btn clickable" ng-disabled="cartDevices[device.name]<1"><span class="glyphicon glyphicon-minus"></span></button>
                                    <span class="value" ng-bind="cartDevices[device.name]"></span>
                                    <button ng-click="addDevice(device)" class="deep-cnt-btn clickable" ng-disabled="cartDevices[device.name]>0||z.device[device.name].cnt>0"><span class="glyphicon glyphicon-plus"></span></button>
                                </td>
                                <td class="have" ng-bind="z.device[device.name].cnt"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>