<div ng-controller="home-controller" class="home-wrap">
    <span class="basic name">
        <span class="key"><span class="glyphicon glyphicon-user"></span> 姓名</span>
    <span class="value" ng-bind="v.basic.name"></span>
    </span>
    <span class="basic power">
        <span class="key"><span class="glyphicon glyphicon-fire"></span> 体力</span>
    <span class="value">
            <span class="bg"></span>
    <span class="fill" ng-style="{width:v.power*10+'%'}"></span>
    <span class="text" ng-bind="v.power"></span>
    </span>
    </span>

    <span class="basic term">
        <span class="key"><span class="glyphicon glyphicon-calendar"></span> 学期</span>
    <span class="value" ng-bind="v.time.term | term"></span>
    </span>

    <span class="basic month">
        <span class="key">
            <span class="glyphicon glyphicon-stats"></span> 月份
    </span>
    <span class="value">
            <span class="rotate upon" ng-bind="getMonth(v.time.part+1)" ng-class="{active:ending,transition:endingTransition}"></span>
    <span class="rotate below " ng-bind="getMonth(v.time.part)" ng-class="{active:ending,transition:endingTransition}"></span>
    </span>
    </span>

    <div class="settings clickable">

    </div>
    <div class="action-panel">
        <div class="actions-frame">
            <div ng-click="doAction(action)" ng-repeat="action in actions" class="action clickable" data-action="{{::action.name}}" ng-class="{disabled:v.power<action.consume}">

                <img draggable="false" ng-src="{{::getActionIcon(action.icon)}}">

                <label ng-bind="::action.name"></label>
            </div>
        </div>

    </div>
    <div class="action-show" ng-show="showMonkey">
        <img ng-src="{{monkey}}" class="monkey">
    </div>
    <!--
    <div class="power-wrap">
        <div class="icon">
            <img draggable="false" ng-src="{{::res.img.power_icon}}" alt="">
        </div>
        <div draggable="false" class="progress-wrap">
            <img ng-src="{{::res.img.progress_frame}}" alt="">
            <div class="pro">
                <img ng-src="{{::res.img.progress_content}}" alt="">
            </div>
        </div>
    </div>
-->
    <div class="time-wrap">
        <div class="icon"></div>
        <div class="progress-wrap">
            <div class="pro"></div>
        </div>
    </div>

    <!--
   

    <div class="" id="home-main-tab">
        <button ng-repeat="(key,value) in list" class="desk-frame-nav-a btn {{(value.title==tab_selecting && 'active')}}" ng-click="tab_select(value.title,value.name)">
            {{key}}<span class="badge {{value.state}}" style="vertical-align: 25%;  margin-left: 5px;  margin-right: -10px;">{{value.content}}</span>
        </button>
    </div>

    <div id="system-setting" class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;系统<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="min-width:0px;">
            <li><a href="#">设置</a></li>
            <li id="scene-home-btn-save"><a href="#" ng-click="home_save()">存档</a></li>
            <li id="scene-home-btn-load"><a href="#" ng-click="home_load()">读档</a></li>
            <li class="divider"></li>
            <li><a href="#">关于</a></li>
        </ul>
    </div>



    <div ng-controller="danmu_controller" id="div-danmu">
        <div ng-repeat="danmu in data" class="{{($last)&&'danmu_bg'}}" ng-init="enter(danmu,$id)" style="display:none;">
            <label class="danmu-out" style="background-color:steelblue;display:none;">
                &nbsp;
                <label class="danmu-in" style="display:none;">
                    {{danmu.text}}
                </label>
            </label>
        </div>
    </div>
-->
</div>