<div ng-controller="home_root" class="home-wrap">
    <div class="modal fade" id="class_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel" style="text-align:center;">本周课程安排(第{{v.time.week}}周)</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped class-design">
                        <thead>
                            <tr>
                                <th>星期</th>
                                <th>上午</th>
                                <th>下午</th>
                                <th>晚上</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="index in weeks">
                                <th scope="row">{{index}}</th>
                                <td ng-repeat="period in week_name">
                                    <label>
                                        <input ng-if="courses[v.time.term][v.time.week][index][period]" type="checkbox" ng-model="arrange[index][period]" />{{courses[v.time.term][v.time.week][index][period]}}</label>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">同上周</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="arrage_finish()">完成</button>
                </div>
            </div>
        </div>
    </div>
    <div id="home-head" ng-include="'html/home/head.html'" class="" ></div>
    
    <div class="" id="home-main-tab">

        <button ng-repeat="(key,value) in list" class="desk-frame-nav-a btn {{(value.title==tab_selecting && 'active')}}" ng-click="tab_select(value.title,value.name)">
            {{key}}<span class="badge {{value.state}}" style="vertical-align: 25%;  margin-left: 5px;  margin-right: -10px;">{{value.content}}</span>
        </button>
    </div>
    
    
    <div class=" well desk-frame" id="home-tabs" style="display:inline-block;">
        <div class="tab-content">
            <div ng-include="'html/home/plan.html'"  class="tab-pane" id="tab-plan" style="width:100%;overflow:hidden;"></div>

            <div ng-include="'html/home/team.html'"  class="tab-pane" id="tab-teammate">
                
            </div>
            <style>
                #tab-item {
                    text-align: left;
                }
                
                #tab-item>ul {
                    /*                        position: absolute;*/
                    float: left;
                    list-style: none;
                    padding-left: 5px;
                    width: 20%;
                    margin: 0px;
                    text-align: center;
                }
                
                #tab-item>ul>li {
                    float: none;
                    margin: 5px;
                    width: 80%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    box-sizing: border-box;
                    border-width: 2px;
                    border-color: rgba(0, 0, 0, 0);
                    padding-bottom: 0px;
                    padding-top: 0px;
                    font-size: 20px;
                }
                
                #tab-item>ul>li.active {
                    background-color: #337ab7;
                    color: aliceblue;
                }
                
                #tab-item>ul>li:hover {
                    border-color: #337ab7;
                }
                
                #tab-item .panel {
                    text-align: center;
                    position: relative;
                    left: 0px;
                }
                
                #tab-item .content {
                    width: 80%;
                    float: right;
                    text-align: center;
                }
                
                #tab-item .content .panel {
                    margin: 0px;
                    margin-top: 5px;
                }
                
                #tab-item .content .item-panel {
                    margin-top: 0px;
                }
                
                #tab-item .content .panel-title {
                    background-color: #fff;
                }
            </style>

            <div ng-controller="tab_item_controller" class="tab-pane " id="tab-item">
                <ul>
                    <li ng-repeat="(kind,items) in data" class="{{(cur_select==kind) && 'active' }} panel " ng-click="select(kind)">
                        {{kind}}
                    </li>
                    <li class="{{(cur_select=='作品') && 'active' }} panel " ng-click="select('作品')">作品</li>
                </ul>
                <div ng-show="cur_select=='作品'" class="content">
                    <div class="panel-group" id="item-tab-作品-page" role="tablist" aria-multiselectable="true">
                        <span style="background-color:#006fb0;color:#fff;position:relative;display:inline-block; width:100%;">
                                    <label style="width:45%;">名称</label>
                                    <label style="width:25%;">完成度</label>
                                    <label style="width:25%;">创新度</label>
                            </span>
                        <div ng-repeat="(key,value) in data_combine" name="{{key}}">
                            <div ng-repeat="item in value.product" class="panel panel-default">
                                <div class="my-panel-heading" role="tab" width="100%">
                                    <span style="position:relative;display:inline-block; width:100%;" class="collapsed panel-title " data-toggle="collapse" data-parent="#item-tab-作品-page" href="#{{$index}}{{key}}-{{item.name}}" aria-expanded="false" aria-controls="{{store_name}}{{key}}-{{item.name}}">
                                    <label style="width:45%;">{{item.name}}</label>
                                    <label style="width:25%;">{{item.progress}}</label>
                                    <label style="width:25%;">{{item.innovate}}</label>
                                           

                                    </span>
                                </div>
                                <div id="{{$index}}{{key}}-{{item.name}}" class="panel-collapse collapse " role="tabpanel">
                                    <div class="store-panel-content">
                                        <h5 class="item-panel">{{item.brief}}</h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div ng-repeat="(kind,items) in data" ng-show="cur_select==kind" class="panel-group" id="item-tab-{{kind}}-page" role="tablist" aria-multiselectable="true">
                        <span style="background-color:#006fb0;color:#fff;position:relative;display:inline-block; width:100%;">
                                    <label style="width:70%;">名称</label>

                                    <label style="width:25%;">数量</label>
                            </span>
                        <div ng-repeat="item in items" class="panel panel-default">
                            <div class="my-panel-heading" role="tab" width="100%">
                                <span style="position:relative;display:inline-block; width:100%;" class="collapsed panel-title " data-toggle="collapse" data-parent="#item-tab-{{kind}}-page" href="#{{store_name}}{{key}}-{{item.name}}" aria-expanded="false" aria-controls="{{store_name}}{{key}}-{{item.name}}">
                                                    <label style="width: 70%;">{{item.name}}</label>
                                                    <label style="width: 25%;">{{item.cnt}}</label>

                                    </span>
                            </div>
                            <div id="{{store_name}}{{key}}-{{item.name}}" class="panel-collapse collapse " role="tabpanel">
                                <div class="store-panel-content">
                                    <h5 class="item-panel">{{item.brief}}</h5>
                                    <!--
                                        <button name="{{item.name}}" class="button button-primary {{item.price | buy_btn_price_handle:home_app:updt}} " ng-click="store_buy($event)">购买</button>
                                        <button name="{{item.name}}" class="button button-primary {{item.cnt | buy_btn_cnt_handle:home_app:updt}}" ng-click="store_sell($event)">出售</button>
-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-controller="tab_quest_controller" class="tab-pane " id="tab-quest">
                <div ng-repeat="(key,value) in data" class="panel panel-default">
                    <div class="panel-heading" align="center">
                        <label>{{value.title}}</label>
                    </div>
                    <div class="panel-heading" align="center">
                        <button class="btn  btn-primary {{value.finished || 'disabled' }}" style="width:49%;">
                            完成
                        </button>
                        <button class="btn btn-primary disabled" style="width:49%;">
                            放弃
                        </button>
                    </div>
                    <div class="panel-des" align="left">{{value.des}}</div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="prop-tab-name prop-tab-name-right">任务期限</td>
                                <td class="prop-tab-value prop-tab-name-left">{{value.date}}天</td>
                                <td class="prop-tab-name prop-tab-name-right">任务目标：</td>
                                <td class="prop-tab-value prop-tab-name-right">
                                    <label ng-repeat="target in value.target" class="{{target_check(target,updt)}}">
                                        {{target_handle(target,updt)}}
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-controller="tab_skill_controller" class="tab-pane " id="tab-skill" style="">
                <link href="./css/magbox.css" type="text/css" rel="stylesheet">
                <link href="./css/workshop-wlk.css" type="text/css" rel="stylesheet">
                <link href="./css/talent.css" type="text/css" rel="stylesheet">
                <div id="talent" class="workshop">
                    <div id="page-body">
                        <center>
                            <div id="replaceMeWithTalents">
                            </div>

                        </center>
                    </div>
                </div>
                <div id="my_skill_tree_panel">
                    <div id="my_skill_tree_panel_content">

                    </div>
                    <button ng-click="study_skill(current_skill_index)" class="btn btn-primary {{v.state.skill_point<=0 && 'disabled'}}" style="position:absolute;right:0px;bottom:0px;border-radius: 0px;font-size:25px;">学习</button>
                </div>
                <div id="skill_point">
                    <label><font style="font-weight:normal;">技能点：</font><font style="color:steelblue;">{{v.state.skill_point}}</font>
                    </label>
                </div>
            </div>
            <div ng-controller="tab_buy_controller" class="tab-pane" id="tab-buy">
                <ul class="nav  nav-tabs nav-justified" id="buy-tabs-link" align="center" width="100%">
                    <li ng-repeat="(store_name,store) in data" ng-click="link_tab($event)" role="presentation">
                        <a href="#buy-tab-{{store_name}}">{{store_name}}</a>
                    </li>
                </ul>
                <div class="tab-content my-tab-content" id="buy-tabs-content">
                    <div ng-repeat="(store_name,store) in data" class="tab-pane" id="buy-tab-{{store_name}}">
                        <ul class="nav  nav-pills  nav-justified" id="buy-tabs" align="center" width="100%">
                            <li ng-repeat="(key,kind) in store" role="presentation" store-tab="{{key}}">
                                <a href="#{{store_name}}buy-tab-content-{{key}}">{{key}}</a>
                            </li>
                        </ul>
                        <div class="my-panel-heading" role="tab" width="100%" style="margin:0px;margin-bottom:-5px;">
                            <div class="panel panel-default" style="color:#fff;background-color:#006fb0;border-width:0px;border-radius:0px;margin-bottom:0px;">
                                <span style="position:relative;display:inline-block; width:100%;" style="">
                                        <label style="width: 32%;">物品</label>
                                        <label style="width: 32%;">已拥有</label>
                                        <label style="width: 32%;">价格</label>
                                    </span>
                            </div>
                        </div>
                        <div class="tab-content my-tab-store-content" id="store-tabs-content">
                            <div ng-repeat="(key,kind) in store" class="tab-pane" id="{{store_name}}buy-tab-content-{{key}}">
                                <div class="panel-group" id="{{store_name}}buy-tab-group{{key}}" role="tablist" aria-multiselectable="true">
                                    <div ng-repeat="item in kind" class="panel panel-default">
                                        <div class="my-panel-heading" role="tab" width="100%">
                                            <span style="position:relative;display:inline-block; width:100%;" class="collapsed panel-title " data-toggle="collapse" data-parent="#{{store_name}}buy-tab-group{{key}}" href="#{{store_name}}{{key}}-{{item.name}}" aria-expanded="false" aria-controls="{{store_name}}{{key}}-{{item.name}}">
                                                    <label style="width: 32%;">{{item.name}}</label>
                                                    <label style="width: 32%;">{{item.cnt}}</label>
                                                    <label style="width: 32%;">{{item.price}}</label>
                                                </span>
                                        </div>
                                        <div id="{{store_name}}{{key}}-{{item.name}}" class="panel-collapse collapse " role="tabpanel">
                                            <div class="store-panel-content">
                                                <h5 class="item-panel">{{item.brief}}</h5>
                                                <button name="{{item.name}}" class="button button-primary {{item.price | buy_btn_price_handle:updt}} " ng-click="store_buy($event)">购买</button>
                                                <button name="{{item.name}}" class="button button-primary {{item.cnt | buy_btn_cnt_handle:updt}}" ng-click="store_sell($event)">出售</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-controller="tab_make_controller " class="tab-pane " id="tab-make" style="">
                <div class="panel panel-default" style="position:absolute;left:15px;bottom:0px;width:385px;border-radius:0px;">
                    <div class="my-panel-heading" role="tab" width="100%">
                        <label style="position:relative;display:inline-block; width:100%;" class=" panel-title">工作台</label>
                    </div>
                    <div id="tab-make-desk" class="panel-collapse collapse " role="tabpanel">
                        <div class="store-panel-content" style="width:100%;padding-bottom:0px;height:280px;">
                            <!-- ng-init="make_test()"  -->
                            <div id="tab-make-output" class="panel panel-default">
                                <!-- <div  ng-model="output" class="panel-body">
                                        
                                    </div>  -->
                            </div>
                            <div id="tab-make-progress" class="progress">
                                <div min-width="2em" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="text-align:center;float:left;width:50%;border-radius:0px;">
                    <div class="my-panel-heading" role="tab" width="100%">
                        <label style="position:relative;display:inline-block; width:100%;" class=" panel-title">物料清单</label>
                    </div>
                    <div id="tab-make-content" class="panel-collapse collapse " role="tabpanel">
                        <div class="store-panel-content" style="width:100%;padding-bottom:0px;">
                            <span style="background-color:#006fb0;color:#fff;position:relative;display:inline-block; width:100%;">
                                    <label style="width:50%;">原料</label>
                                    <label style="width:23%;">需求</label>
                                    <label style="width:23%;">现有</label>
                                </span>
                            <span ng-repeat="material in value.material" style="position:relative;display:inline-block; width:100%;">
                                    <label style="width:50%;">{{material.name}}</label>
                                    <label style="width:23%;" class="item-num {{(material.cnt <= (material.name | get_item_cnt:updt)) || 'insufficient'}}">{{material.cnt}}</label>
                                    <label style="width:23%;">{{material.name | get_item_cnt:updt}}</label>
                                </span>
                            <span style="background-color:#006fb0;color:#fff;position:relative;display:inline-block; width:100%;">
                                    <label style="width:100%;">仪器</label>
                                </span>
                            <span ng-repeat="instrument in value.instrument" style="position:relative;display:inline-block; width:100%;">
                                    <label style="width:100%;" class="item-num {{(1 <= (instrument | get_item_cnt:updt)) || 'insufficient'}}">{{instrument}}</label>
                                </span>
                        </div>
                    </div>
                    <label ng-if="v.make.target">正在制作：{{v.make.target}} </label>
                    <div>
                        <button ng-click="make($event)" class="btn btn-primary {{make_check()}}" style="width:75px;padding:10px;margin:10px;margin-top:0px;">计划制作</button>

                        <button ng-click="resolve($event)" class="btn btn-primary {{resolve_check()}}" style="width:75px;padding:10px;margin:10px;margin-top:0px;">分解</button>
                    </div>
                </div>
                <div class="panel-group" id="make-panel-group" role="tablist" aria-multiselectable="true">
                    <div style="width:100%;margin-bottom:5px;background-color:#fff;">
                        <span style="position:relative;display:inline-block; width:100%;">
                                <label style="width:50%;margin-bottom:0px;">物品</label>
                                <label style="width:20%;margin-bottom:0px;">拥有</label>
                                <label style="width:25%;margin-bottom:0px;">可制作</label>
                            </span>
                    </div>
                    <div ng-repeat="value in data" class="panel panel-default" style="border-width:0px;">
                        <div ng-click="change_thing($event,value.name)" class="my-panel-heading " name={{value.name}} role="tab" width="100%">
                            <span style="position:relative;display:inline-block; width:100%;" class=" panel-title ">
                                    <label style="font-weight:400;width: 50%;margin-bottom:0px;">{{value.name}}</label>
                                    <label style="font-weight:400;width: 20%;margin-bottom:0px;">{{value.product.length}}</label>
                                    <label style="font-weight:400;width: 25%;margin-bottom:0px;">{{value.name | get_item_avaliable:updt }}</label>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="system-setting" class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;系统<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="min-width:0px;">
            <li><a href="#">设置</a>
            </li>
            <li id="scene-home-btn-save"><a href="#" ng-click="home_save()">存档</a>
            </li>
            <li id="scene-home-btn-load"><a href="#" ng-click="home_load()">读档</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">关于</a>
            </li>
        </ul>
    </div>



    <div ng-controller="danmu_controller" id="div-danmu" style="">
        <div ng-repeat="danmu in data" class="{{($last)&&'danmu_bg'}}" ng-init="enter(danmu,$id)" style="display:none;">
            <label class="danmu-out" style="background-color:steelblue;display:none;">
                &nbsp;
                <label class="danmu-in" style="display:none;">
                    {{danmu.text}}
                </label>
            </label>
        </div>
    </div>
</div>