<!DOCTYPE html>
<html>

<head>
    <title>科协浮生记</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="game">
    <meta name="author" content="blackmiaool">
    <link rel="shortcut icon" href="res/UI/monkey.png">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/poli.js"></script>
    <h5 id="game-first-tip" style="text-align:center;">服务器连接成功，正在拉取JS与CSS~</h5>
</head>

<body ng-controller="root_controller" ng-cloak>
    <div id="wrap">
        <div class="scene-wrap hide" >
            <div class="scene" data-scene="bigmap" ng-if="scenes['bigmap']">
                <!-- inject: scene/bigmap.html-->
            </div>
            <div class="scene" data-scene="chat" ng-if="scenes['chat']">
                <!-- inject: scene/chat.html-->
            </div>
            <div class="scene" data-scene="cover" ng-if="scenes['cover']">
                <!-- inject: scene/cover.html-->
            </div>
            <div class="scene hide" data-scene="preload" ng-if="scenes['preload']">
                <!-- inject: scene/preload.html-->
            </div>
            <div class="scene" data-scene="home" ng-if="scenes['home']">
                <!-- inject: scene/home.html-->
            </div>
            <div class="scene" data-scene="save" ng-if="scenes['save']">
                <!-- inject: scene/save.html-->
            </div>
            <div class="scene" data-scene="state" ng-if="scenes['state']">
                <!-- inject: scene/state.html-->
            </div>
            <div class="scene" data-scene="make-select" ng-if="scenes['make-select']">
                <!-- inject: scene/make-select.html-->
            </div>
            <div class="scene" data-scene="make" ng-controller="make_controller" ng-if="scenes['make']">
                <!-- inject: scene/make.html-->
            </div>
            <div class="scene" data-scene="character" ng-controller="character_controller" ng-if="scenes['character']">
                <!-- inject: scene/character.html-->
            </div>
            <button ng-click="openDebugPanel()" class="debug btn btn-primary">调试</button>
            <div class="debug-panel" ng-if="showDebug">
                <button ng-repeat="sceneName in scenePaths" class="go-scene btn btn-primary" ng-bind="sceneName" ng-click="debugScene(sceneName)"></button>
            </div>
        </div>
    </div>
    <script data-main="js/main" src="js/require.js"></script>
    <script src="http://192.168.199.128:35729/livereload.js?ext=Chrome&extver=2.1.0"></script>
</body>

</html>