<div ng-controller="state-controller" class="wrap">
    <div class="page-select-wrap" ng-init="currentPage='物品'">

        <div ng-repeat="page in pages" class="page-select" ng-class="{active:currentPage==page.name}"  ng-click="setPage(page.name)">

            <button ng-click="setPage(page.name)" class="ym-button solid {{page.class}} ym-large " ng-bind="::page.name">
                <button class="cover" ng-click="setPage(page.name)">d</button>
            </button>
        </div>
    </div>

    <div class="page" data-page="status" ng-show="currentPage=='状态'">
       <!-- inject: state/status.html-->        
    </div>
    <div class="page" data-page="skill" ng-show="currentPage=='技能'">
        <!-- inject: state/skill.html--> 

    </div>
    <div class="page" data-page="people" ng-show="currentPage=='朋友'">
        <!-- inject: state/people.html-->
    </div>
    <div class="page" data-page="item" ng-show="currentPage=='物品'">
        <!-- inject: state/item.html-->
    </div>


</div>