<div ng-controller="state-controller" class="wrap">
    <div ng-click="back()" draggable="false" title="返回" class="back">    </div>
    <div class="page-select-wrap" ng-init="currentPage='物品'">

        <div ng-repeat="page in pages" class="page-select" ng-class="{active:currentPage==page.name}"  ng-click="setPage(page.name)">
            <img ng-src="{{::res.img.blue_btn}}" alt="" class="bg">
            <div ng-click="setPage(page.name)" class="select solid {{page.class}} unselectable"  ng-bind="::page.name">
                <button class="cover" ng-click="setPage(page.name)"></button>
            </div>
        </div>
    </div>

    <div ng-controller="status-controller" class="page" data-page="status" ng-show="currentPage=='状态'">
       <!-- inject: state/status.html-->        
    </div>
    <div ng-controller="skill-controller" class="page" data-page="skill" ng-show="currentPage=='技能'">
        <!-- inject: state/skill.html--> 

    </div>
    <div ng-controller="people-controller" class="page" data-page="people" ng-show="currentPage=='朋友'">
        <!-- inject: state/people.html-->
    </div>
    <div ng-controller="item-controller" class="page" data-page="item" ng-show="currentPage=='物品'">
        <!-- inject: state/item.html-->
    </div>
    <div ng-controller="story-controller" class="page" data-page="story" ng-show="currentPage=='经历'">
        <!-- inject: state/story.html-->
    </div>


</div>