<div ng-controller="tab_plan_controller" class="wrap">
    <div id="tab-plan-right">
        <div class="plan-right-block">
            <label class="plan-right-label">疲劳度</label>

            <div id="tab-plan-skill-progress" class="progress active" style="margin:0px;margin-bottom:3px;margin-top:3px;height:10px;">
                <div min-width="2em" class="progress-bar {{v.state.fatigue | progress_color}} progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{v.state.fatigue}}%;">
                </div>
            </div>
        </div>

        <div class="plan-right-block">
            <label class="plan-right-label">技能点</label>
            <label class="plan-right-value">已拥有:{{v.state.skill_point}}</label>
            <div id="tab-plan-skill-progress" class="progress active" style="margin:0px;margin-bottom:3px;height:10px;">
                <div min-width="2em" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{v.state.skill_progress}}%;">
                </div>
            </div>

        </div>
        <div class="plan-right-block">
            <label class="plan-right-label">制造进度</label>
            <div ng-if="!v.make.target" class="make-state" style="width:100%;">
                <label>并没有</label>
            </div>
            <div ng-if="v.make.target">
                <div class="make-state" style="width:100%;">
                    <span class="make-state-line">
                                    <label class="left">制造:
                                    </label>
                                    <label class="right">{{v.make.target}}
                                    </label>
                                </span>
                    <div class="make-state-line">
                        <label class="left">完成度:
                        </label>
                        <label class="right">{{v.make.progress}}%
                        </label>
                    </div>
                    <div class="make-state-line">
                        <label class="left">创新度:
                        </label>
                        <label class="right">{{v.make.innovate}}
                        </label>
                    </div>

                </div>
                <div id="tab-plan-skill-progress" class="progress active" style="margin:0px;margin-bottom:3px;height:10px;width:100%;">
                    <div min-width="2em" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{v.make.progress}}%;">
                    </div>
                </div>
                <div class="make-state-line">
                    <button ng-click="make_end()" class="btn btn-default" style="margin:5px;width:90%;">结束制作</button>
                </div>
            </div>
        </div>

    </div>
    <div id="tab-plan-left">
        <button class="btn btn-primary  scene-btn " ng-disabled="button_state" id="tab_plan_go_out_btn" ng-click="go_out()">
            <div class="glyphicon glyphicon-scissors" aria-hidden="true"></div>
            <div class="des">打工</div>
        </button>
        <button class="btn btn-primary scene-btn " ng-disabled="button_state" id="tab_plan_go_school_btn" ng-click="go_school()">
            <div class="glyphicon glyphicon-education" aria-hidden="true"></div>
            <div class="des">上课</div>
        </button>
        <button class="btn btn-primary scene-btn " ng-disabled="button_state" id="tab_plan_make_btn" ng-click="make()">
            <div class="glyphicon glyphicon-wrench" aria-hidden="true"></div>
            <div class="des">制造</div>
        </button>
        <button class="btn btn-primary scene-btn " ng-disabled="button_state" id="tab_plan_pass_day_btn" ng-click="study()">
            <div class="glyphicon glyphicon-book" aria-hidden="true"></div>
            <div class="des">自习</div>
        </button>
        <button class="btn btn-primary scene-btn " ng-disabled="v.state.fatigue<=0||button_state" id="tab_plan_rest_btn" ng-click="rest()">
            <div class="glyphicon glyphicon-tower" aria-hidden="true"></div>
            <div class="des">休息</div>
        </button>
        <button class="btn btn-danger scene-btn " id="tab_plan_pass_day_btn" ng-click="pass_day()">
            <div class="glyphicon glyphicon-bed" aria-hidden="true"></div>
            <div class="des">结束</div>
        </button>

    </div>

</div>